obj/CS2ScreenMenu.csproj.nuget.dgspec.json
obj/CS2ScreenMenu.csproj.nuget.g.props
obj/CS2ScreenMenu.csproj.nuget.g.targets
obj/CS2ScreenMenuAPI.csproj.nuget.dgspec.json
obj/CS2ScreenMenuAPI.csproj.nuget.g.props
obj/CS2ScreenMenuAPI.csproj.nuget.g.targets
obj/Debug/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/CS2ScreenMenu.assets.cache
obj/Debug/CS2ScreenMenu.csproj.AssemblyReference.cache
obj/Debug/CS2ScreenMenu.csproj.CoreCompileInputs.cache
obj/Debug/CS2ScreenMenu.csproj.FileListAbsolute.txt
obj/Debug/CS2ScreenMenu.dll
obj/Debug/CS2ScreenMenu.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/CS2ScreenMenu.GlobalUsings.g.cs
obj/Debug/CS2ScreenMenuAPI.assets.cache
obj/Debug/CS2ScreenMenuAPI.csproj.AssemblyReference.cache
obj/Debug/CS2ScreenMenuAPI.csproj.CoreCompileInputs.cache
obj/Debug/CS2ScreenMenuAPI.csproj.FileListAbsolute.txt
obj/Debug/CS2ScreenMenuAPI.dll
obj/Debug/CS2ScreenMenuAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/CS2ScreenMenuAPI.GlobalUsings.g.cs
obj/Debug/ref/CS2ScreenMenu.dll
obj/Debug/ref/CS2ScreenMenuAPI.dll
obj/Debug/refint/CS2ScreenMenu.dll
obj/Debug/refint/CS2ScreenMenuAPI.dll
obj/project.assets.json
obj/project.nuget.cache
.vs/CS2ScreenMenuAPI/CopilotIndices/17.12.68.61481/CodeChunks.db
.vs/CS2ScreenMenuAPI/CopilotIndices/17.12.68.61481/SemanticSymbols.db
.vs/CS2ScreenMenuAPI/CopilotIndices/17.12.68.61481/SemanticSymbols.db-shm
.vs/CS2ScreenMenuAPI/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
.vs/CS2ScreenMenuAPI/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/CS2ScreenMenuAPI/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/CS2ScreenMenuAPI/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/CS2ScreenMenuAPI/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/CS2ScreenMenuAPI/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/CS2ScreenMenuAPI/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/CS2ScreenMenuAPI/DesignTimeBuild/.dtbcache.v2
.vs/CS2ScreenMenuAPI/FileContentIndex/0f0bd816-cbb6-479f-9e05-a07768e07bb0.vsidx
.vs/CS2ScreenMenuAPI/FileContentIndex/186a534e-af11-4c5d-a8f1-135bc915d7ab.vsidx
.vs/CS2ScreenMenuAPI/FileContentIndex/970abc56-9039-4586-9648-32238e03f481.vsidx
.vs/CS2ScreenMenuAPI/FileContentIndex/9cc1e1a1-119d-4a64-bf86-85dc88e24d64.vsidx
.vs/CS2ScreenMenuAPI/FileContentIndex/a77aa5ec-20e0-4ba9-9d76-fc849ae36432.vsidx
.vs/CS2ScreenMenuAPI/v17/.futdcache.v2
.vs/CS2ScreenMenuAPI/v17/.suo
.vs/CS2ScreenMenuAPI/v17/DocumentLayout.backup.json
.vs/CS2ScreenMenuAPI/v17/DocumentLayout.json
.vs/ProjectEvaluation/cs2screenmenuapi.metadata.v9.bin
.vs/ProjectEvaluation/cs2screenmenuapi.projects.v9.bin
.vs/ProjectEvaluation/cs2screenmenuapi.strings.v9.bin
bin/CS2ScreenMenuAPI.zip
bin/CS2ScreenMenuAPI/addons/counterstrikesharp/shared/CS2ScreenMenuAPI/config.toml
bin/CS2ScreenMenuAPI/addons/counterstrikesharp/shared/CS2ScreenMenuAPI/CS2ScreenMenuAPI.deps.json
bin/CS2ScreenMenuAPI/addons/counterstrikesharp/shared/CS2ScreenMenuAPI/CS2ScreenMenuAPI.dll
bin/CS2ScreenMenuAPI/addons/counterstrikesharp/shared/CS2ScreenMenuAPI/Tomlyn.dll
.vs/CS2ScreenMenuAPI/FileContentIndex/d90de504-0186-4640-8153-2b63ef3df140.vsidx
.vs/CS2ScreenMenuAPI/FileContentIndex/42b8fcf9-303d-4197-bbce-51f86463adeb.vsidx
.vs/CS2ScreenMenuAPI/FileContentIndex/4cdadd2b-cec0-4fe3-9f65-e74a90336401.vsidx
/.vs
